.intro{
    color: red;
}
.sa{
    color: violet;
}
.ul-a{
    list-style-position:inside;
}
.ol-a{
    list-style-position:inside;
}

.pembe{
    color: pink;
}
.altmış{
    font-size: 30px;
}